

  <header>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
 </header>

 <body>
     <div ng-app="myapp" ng-controller="list">
       <br>
       <div class="input-group input-group-lg">
 <span class="input-group-addon" id="sizing-addon1">Dollars</span>
 <input type="number" ng-model="first" class="form-control" placeholder="Enter INR value" >
</div>
<br>
       
       
     <script>
       var app=angular.module('myapp',[]);
       app.controller('list',function ($scope) {
       $scope.first = "";
       $scope.second = 69.61;
       });
     </script>
     </div>
 </body>
 <body>
  <div ng-app="myapp" ng-controller="list">
    <br>
    <div class="input-group input-group-lg">
<span class="input-group-addon" id="sizing-addon1">Dollars</span>
<input type="number" ng-model="first" class="form-control" placeholder="Enter INR value" >
</div>
<br>
    
    
  <script>
    var app=angular.module('myapp',[]);
    app.controller('list',function ($scope) {
    $scope.first = "";
    $scope.second = 69.61;
    });
  </script>
  </div>
</body>
<body>
  <div ng-app="myapp" ng-controller="list">
    <br>
    <div class="input-group input-group-lg">
<span class="input-group-addon" id="sizing-addon1">Dollars</span>
<input type="number" ng-model="first" class="form-control" placeholder="Enter INR value" >
</div>
<br>
    
    
  <script>
    var app=angular.module('myapp',[]);
    app.controller('list',function ($scope) {
    $scope.first = "";
    $scope.second = 69.61;
    });
  </script>
  </div>
</body>
<body>
  <div ng-app="myapp" ng-controller="list">
    <br>
    <div class="input-group input-group-lg">
<span class="input-group-addon" id="sizing-addon1">Dollars</span>
<input type="number" ng-model="first" class="form-control" placeholder="Enter INR value" >
</div>
<br>
    
    
  <script>
    var app=angular.module('myapp',[]);
    app.controller('list',function ($scope) {
    $scope.first = "";
    $scope.second = 69.61;
    });
  </script>
  </div>
</body>
<body>
  <div ng-app="myapp" ng-controller="list">
    <br>
    <div class="input-group input-group-lg">
<span class="input-group-addon" id="sizing-addon1">Dollars</span>
<input type="number" ng-model="first" class="form-control" placeholder="Enter INR value" >
</div>
<br>
    
    
  <script>
    var app=angular.module('myapp',[]);
    app.controller('list',function ($scope) {
    $scope.first = "";
    $scope.second = 69.61;
    });
  </script>
  </div>
</body>
<body>
  <div ng-app="myapp" ng-controller="list">
    <br>
    <div class="input-group input-group-lg">
<span class="input-group-addon" id="sizing-addon1">Dollars</span>
<input type="number" ng-model="first" class="form-control" placeholder="Enter INR value" >
</div>
<br>
    
    
  <script>
    var app=angular.module('myapp',[]);
    app.controller('list',function ($scope) {
    $scope.first = "";
    $scope.second = 69.61;
    });
  </script>
  </div>
</body>
<body>
  <div ng-app="myapp" ng-controller="list">
    <br>
    <div class="input-group input-group-lg">
<span class="input-group-addon" id="sizing-addon1">Dollars</span>
<input type="number" ng-model="first" class="form-control" placeholder="Enter INR value" >
</div>
<br>
    
    
  <script>
    var app=angular.module('myapp',[]);
    app.controller('list',function ($scope) {
    $scope.first = "";
    $scope.second = 69.61;
    });
  </script>
  </div>
</body>
<body>
  <div ng-app="myapp" ng-controller="list">
    <br>
    <div class="input-group input-group-lg">
<span class="input-group-addon" id="sizing-addon1">Dollars</span>
<input type="number" ng-model="first" class="form-control" placeholder="Enter INR value" >
</div>
<br>
    
    
  <script>
    var app=angular.module('myapp',[]);
    app.controller('list',function ($scope) {
    $scope.first = "";
    $scope.second = 69.61;
    });
  </script>
  </div>
</body>
